APP_PORT=4000
AWS_ENDPOINT=http://localhost:4566
AWS_REGION=eu-west-3
KMS_CREATE_ID=test
KMS_CREATE_KEY=test
KMS_SIGN_ID=test
KMS_SIGN_KEY=test
KMS_DELETE_ID=test
KMS_DELETE_KEY=test
KMS_LIST_ID=test
KMS_LIST_KEY=test

COSMOS_HRP=wasm

TESTING_MODE=false

BLOCKCHAIN_MODE=casper

AWS_MODE=true

DELETE_MODE=false

LIST_MODE=false